/* body */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #434455;
  background-color: #F4F4FD;
  width: 1440px;
  height: 2060px;
}

a {
  text-decoration: none;
  color: #2E2F42;
  width: 115px;
  height: 24px;
  padding-left: 156px;

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 261px;
  height: 24px;
  padding-right: 76px;
}

.nav {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  width: 153px;
  height: 24px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: #E7E9FC;
  padding-bottom: 8px;
  width: 1440px;
  height: 72px;
  gap: 0px;
  opacity: 0px;

}

header a {
  color: #2E2F42;
  font-weight: 700px;
  font-size: 18px;
  margin-top: 12px;
}

header ul {
  display: flex;
  gap: 20px;
}

nav ul {
  display: flex;
  gap: 15px;
}

/* Головний блок */
main section:first-of-type {
  text-align: center;
  background-color: #2E2F42;
  color: #FFFFFF;
  padding: 60px 20px;
  width: 1440px;
  height: 600px;
  top: 72px;
  gap: 0px;
  opacity: 0px;
}


main section:first-of-type h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700px;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 496px;
  height: 120px;
  margin-top: 188px;
  margin-left: 472px;
  gap: 0px;
  opacity: 0px;

}

main section:first-of-type button {
  background-color: #4D5AE5;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 48px;
}

main section:first-of-type button:hover {
  background-color: #404BBF;
}

/* strategy */
main section:nth-of-type(2) ul {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  background-color: #FFFFFF;
  width: 1440px;
  height: 104px;
  top: 792px;
  left: 156px;
  gap: 0px;
  opacity: 0px;

}

main section:nth-of-type(2) li {
  width: 264px;
  height: 104px;
  text-align: center;
}

main section:nth-of-type(2) h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #2E2F42;
}

/* team */
.our-team {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 40px 0;
  color: #2E2F42;
  padding-top: 72px;
}

main section:nth-of-type(3) ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  width: 1440px;
  height: 732px;
  top: 1016px;
  gap: 0px;
  opacity: 0px;
}

main section:nth-of-type(3) li {
  background-color: #FFFFFF;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 264px;
  height: 380px;

}

main section:nth-of-type(3) img {
  margin-bottom: 15px;
  width: 264px;
  height: 260px;
}

main section:nth-of-type(3) h3 {

  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

main section:nth-of-type(3) p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #434455;
}

/* Футер */
footer {
  text-align: center;
  background-color: #2E2F42;
  color: #FFFFFF;
  padding: 40px 20px;

}

.footer section {
  width: 1440px;
  height: 312px;
  top: 1748px;
  gap: 0px;
  opacity: 0px;
}

footer a {
  font-weight: 700;
  font-size: 18px;
  color: #4D5AE5;

}

footer p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.6;
}